mat-card{
  position:fixed;
  height:100%;
  width: 20%;
}
mat-card-title{
  font-size: 15px;
}

.menu{
margin-top: 10%;
}

.Component{
  display:flex;
  margin-left:20%;
  height:100%;
  width:80%;
  align-content: center;
  align-items:center;
  justify-content: center;
}

