table{
  width:80%;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: white !important;;
}
