<mat-card fxLayout="row" >
        <form style="margin-left: 5%;" class="example-form" fxLayoutAlign="stretch" fxLayout="column" fxFlexFill
        [formGroup]="studentForm" (ngSubmit)="addStudent()">

            <mat-form-field>
              <input matInput placeholder="Name" [formControl]="$any(studentForm).controls['Name']">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Department" [formControl]="$any(studentForm).controls['Department']">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Year" [formControl]="$any(studentForm).controls['Year']">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Group" [formControl]="$any(studentForm).controls['Group']">
              </mat-form-field>
            <button mat-raised-button type="submit">Add student</button>
          </form>
</mat-card>

