<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25" fxLayout="row">
        <form style="margin-left: 5%;" class="example-form" fxLayoutAlign="stretch" fxLayout="column" fxFlexFill>
            <mat-form-field>
              <input matInput placeholder="First Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last Name">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Group">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Year">
              </mat-form-field>
            <button mat-raised-button type="submit" onclick="submit()">Add student</button>
          </form>
    </mat-card>
    </div>